<p>
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".add-book">
		Add book
	</button>
</p>
<div class="modal fade add-book" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Book required data</h5>
			</div>
			<div class="row card-body">
				<div class="col">
					<input type="text" class="form-control" placeholder="Title">
				</div>
				<div class="col">
					<input type="text" class="form-control" placeholder="Author(s)">
				</div>
			</div>
			<div class="modal-header">
				<h5 class="modal-title">Book details (optional)</h5>
			</div>
			<div class="row card-body">
				<div class="col">
					<input type="text" class="form-control" placeholder="Publisher(s)">
				</div>
				<div class="col">
					<input type="text" class="form-control" placeholder="Publish year">
				</div>
				<div class="w-100"></div>
				<div class="col">
					<input type="text" class="form-control" placeholder="ISBN">
				</div>
				<div class="col">
					<input type="text" class="form-control" placeholder="Open Library key">
				</div>
				<div class="w-100"></div>
				<div class="col">
					<input type="text" class="form-control" placeholder="Cover URL">
				</div>
				<div class="col">
					<input type="text" class="form-control" placeholder="Subjects">
				</div>
			</div>
			<div class="modal-header">
				<h5 class="modal-title">Reading details (personal)</h5>
			</div>
			<div class="row card-body">
				<div class="col">
					<input type="text" class="form-control" placeholder="start_date">
				</div>
				<div class="col">
					<input type="text" class="form-control" placeholder="end_date">
				</div>
				<div class="w-100"></div>
				<div class="col">
					<select class="form-control" id="Support">
						<option>Book</option>
						<option>Ebook</option>
						<option>Audiobook</option>
					</select>
				</div>
				<div class="col">
					<input type="text" class="form-control" placeholder="Category">
				</div>
				<div class="w-100"></div>
				<div class="col">
					<input type="text" class="form-control" placeholder="Rating">
				</div>
				<div class="col">
					<input type="text" class="form-control" placeholder="Difficulty">
				</div>
				<div class="w-100"></div>
				<div class="col">
					<textarea class="form-control" placeholder="Review" rows="3"></textarea>
				</div>
				<div class="w-100"></div>
				<div class="col">
					<div class="form-check">
						<label class="form-check-label">
							<input type="checkbox" class="form-check-input">
							Recommended
						</label>
					</div>
				</div>
				<div class="col">
					<div class="form-check">
						<label class="form-check-label">
							<input type="checkbox" class="form-check-input">
							Fiction
						</label>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>