---
---
//
// Mixin
//
@mixin headings($condition: '', $prescope: '')
  @for $i from 1 through 6
    #{$prescope}h#{$i}#{$condition}, #{$prescope}.h#{$i}#{$condition}
      @content

//
// Bootsrap Override variables
//
$font-family-sans-serif: "Helvetica Neue", Arial, sans-serif
$font-family-base: $font-family-sans-serif
$headings-font-weight: 300
$headings-margin-bottom: 1.5rem
// 211 is primary-blue, 20% is light blue, 93% is whitey
$frame-color: hsl(211, 20%, 93%)
// $font-size-base: 1.2rem
$form-check-input-margin-y: 0.45rem
$code-font-size: 80%

//
// Bootstrap
//
@import "bootstrap/bootstrap"

//
// Simulibros
//
.justify-box
  @extend .d-flex, .w-100, .justify-content-between

html
  background-color: $frame-color

// main
main
  background-color: $body-bg
  margin: $spacer * 3 0
  @include headings('', '& > ')
    @extend .mb-4, .mt-5
  @include headings(':first-child', '& > ')
    @extend .mt-0

// footer
footer
  padding: $spacer * 2 0
  background-color: $frame-color
  .container > :last-child
    @extend .mb-0

// Corrections
table
  @extend .table

// Api
.api
  @extend .py-3
  table
    th,
    td
      padding: $table-cell-padding-sm $table-cell-padding
      white-space: normal
    td:nth-child(1)
      font-weight: bold
      font-family: $font-family-monospace
      font-size: $code-font-size
      color: $code-color
    td:nth-child(2)
      font-style: italic
    td:nth-child(2),
    th:nth-child(2)
      text-align: center
    td:nth-child(4),
    th:nth-child(4)
      text-align: right

.progress
  @extend .mb-4, .mt-2
.search-results .progress,
.card .progress
  @extend .mb-2

// Code
// Give a slight padding and a tiny background (overridden in _syntax_<theme>.sass)
pre.highlight
  @extend .py-2, .px-2, .rounded
  background-color: $gray-100

// buttons
// button
//   &:hover
//     cursor: pointer
//   &:active
//     opacity: 0.5
// checkbox label
.form-check
  padding-top: $input-btn-padding-y
  .form-check-label
    cursor: pointer

// DATE picker
// .datepicker-container
//   font-size: $font-size-sm

// ADD-BOOK
// #input-form
//   h3
//     @extend .py-3
//   small
//     @extend .form-text, .text-muted, .ml-1

// BUTTONS
button,
input[type="submit"],
input[type="button"],
input[type="reset"]
  @extend .btn

// SIMULIBROS
form.widget-simulibros
  input
    &[type="text"], &[type="date"]
      background-color: $gray-100
  // Font-size problems with date-type
  input[type="date"]
    font-size: 90%
  // Style labels
  .input-group-prepend
    min-width: 20%
    @extend .d-block
  // Style buttons
  [aria-label='search_openlibrary']
    @extend .btn-secondary
  [aria-label='search_goodreads']
    @extend .btn-warning
  [type='reset']
    @extend .btn-outline-secondary

// Style results
.search-results
  & > a
    @extend .list-group-item, .list-group-item-action, .flex-column, .align-items-start
    small
      @extend .text-muted
    .libros-image-container img
      @extend .card-img-top
    .libros-title,
    .libros-author
      @extend .mb-1
    .libros-header
      @extend .d-flex, .w-100, .justify-content-between
    &:last-child
      @extend .mb-3
    &.no-results
      @extend .disabled

// CARDS
.card
  .card-body + .card-body
    border-top: $card-border-width solid $card-border-color
  small[data-toggle="tooltip"]
    cursor: default
  img
    @extend .w-100
    max-width: 7em
    @include border-radius($card-inner-border-radius)

// RENDER YML
.yml-render
  .commit-button
    @extend .btn-secondary
  .copy-button
    @extend .btn-outline-secondary 

// Table manager
table[data-widget="table-manager"]
  @extend .table-sm, .table-hover

// List manager
dl[data-widget="list-manager"]
  @extend .mb-0
  &:hover
    background-color: $gray-100

@import "syntax.css"
