---
---
@charset "utf-8"
//
// Bootsrap_init
//

//
// Bootsrap Override variables
//
$font-family-sans-serif: "Helvetica Neue", Arial, sans-serif
$font-family-base: $font-family-sans-serif
$headings-font-weight: 300
// 211 is primary-blue, 20% is light blue, 93% is whitey
$frame-color: hsl(211, 20%, 93%)
$font-size-base: 1.2rem
$form-check-input-margin-y: 0.45rem
$code-font-size: 80%

//
// Bootstrap
//
@import "bootstrap/bootstrap"

//
// Simulibros
//

html
  background-color: $frame-color

// main
main
  background-color: $body-bg
  margin: $spacer * 3 0
  h1
    @extend .mb-4, .mt-5
  h1:first-child
    @extend .mt-0
// footer
footer
  padding: $spacer * 2 0
  background-color: $frame-color
  .container > :last-child
    @extend .mb-0

// buttons
// button
//   &:hover
//     cursor: pointer
//   &:active
//     opacity: 0.5
// checkbox label
.form-check
  padding-top: $input-btn-padding-y
  .form-check-label
    cursor: pointer

// DATE picker
// .datepicker-container
//   font-size: $font-size-sm

// ADD-BOOK
// #input-form
//   h3
//     @extend .py-3
//   small
//     @extend .form-text, .text-muted, .ml-1

// BUTTONS
button,
input[type="submit"],
input[type="button"],
input[type="reset"]
  @extend .btn

// SIMULIBROS
form.widget-simulibros
  // Bigger font-size give problems with date-type
  input[type="date"]
    font-size: 1rem
  // Style labels
  .input-group-prepend
    min-width: 20%
    @extend .d-block
  // Style buttons
  [aria-label='search_openlibrary']
    @extend .btn-secondary
  [aria-label='search_goodreads']
    @extend .btn-warning
  [type='reset']
    @extend .btn-outline-secondary

// Style results
.search-results
  & > a
    @extend .list-group-item, .list-group-item-action, .flex-column, .align-items-start
    small
      @extend .text-muted
    .libros-image-container img
      @extend .card-img-top
    .libros-title,
    .libros-author
      @extend .mb-1
    .libros-header
      @extend .d-flex, .w-100, .justify-content-between
    &:last-child
      @extend .mb-3
    &.no-results
      @extend .disabled

// RENDER YML
.yml-render
  .commit-button
    @extend .btn-secondary
  .copy-button
    @extend .btn-outline-secondary 

@import "syntax.css"
