{%- assign list = include.list | group_by: "author" -%}
{%- assign sorted_list = include.list | sort: "start_reading" -%}
{%- for i in (1..20) reversed -%}
  {%- for item in list -%}
    {% if item.items.size == i %}
<dl class="row" data-widget="list-manager">
  <dt class="col-3 text-right">{{ item.name }}</dt>
  <dt class="col-1 text-center">{{ item.items.size }}</dt>
  <dd class="col"><ul class="mb-0">{%- for book in sorted_list -%}{%- if book.author == item.name -%}<li>{{ book.title }}</li>{%- endif -%}{%- endfor -%}</ul></dd>
</dl>
    {% endif %}
  {%- endfor -%}
{%- endfor -%}
