<form class="widget-simulibros">
  <fieldset>
    {%- for field in site.data.libros_schema -%}
    {%- comment -%}
    field is Array
    {%- endcomment -%}
    {% if field[0].size %}
    <div class="form-group">
      {% for sub_field in field %}
      <input type="{{ sub_field.type | default: 'button' }}" aria-label="{{ sub_field.name | slugify | replace: '-', '_' }}" value="{{ sub_field.name }}">
      {% endfor %}
    </div>
    {% endif %}
    {%- comment -%}
    field.name: render input-group
    {%- endcomment -%}
    {% if field.name %}
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="label_{{ field.name | slugify }}_{{ forloop.index }}">{{ field.name }}</span>
        </div>
        <input type="{{ field.type | default: 'text' }}" class="form-control" aria-label="{{ field.name | slugify | replace: '-', '_' }}" aria-describedby="label_{{ field.name | slugify }}_{{ forloop.index }}"{% if field.numeric %} data-numeric="1"{% endif %}>
      </div>
    </div>
    {%- comment -%}
    field.include: render an include
    {%- endcomment -%}
    {% elsif field.include %}
      {% include {{ field.include }} data_file=include.data_file %}
    {% endif %}
    {%- endfor -%}
  </fieldset>
</form>
{%- for field in site.data.libros_schema -%}
{% if field.include_below %}{% include {{ field.include_below }} %}
{% endif %}
{%- endfor -%}
