{%- assign list = include.list | sort: "start_reading" | reverse -%}
<table data-widget="table-manager">
  <tbody>
  {% for item in list %}
    <tr>
      <td>
        {% if item.image_url %}
          <img style="width:3em" src="{{ item.image_url }}" alt="{{ item.title }}">
        {% endif %}
      </td>
      <td>
        {%- assign titolo = item.title | split: ' (' | first -%}
        {%- assign check_serie = item.title | split: ' (' -%}
        {% if check_serie.size > 1 %}{%- assign serie = check_serie | last | prepend: '(' -%}{% else %}{%- assign serie = '' -%}{% endif %}
        <strong>{% if item.link %}<a href="{{ item.link }}">{{ titolo }}</a> <span class="font-weight-light">{{ serie }}</span>{% else %}{{ item.title }}{% endif %}</strong>
        <br>
        {{ item.author }} {% if item.year %}({{ item.year }}){% endif %}
        <br>
        {% include simulibros/simple_progress.html item=item %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
