<!-- Libros list -->
<div class="list-group search-results">
{% if include.list %}
  {%- assign list = include.list | sort: 'start_reading' | reverse -%}
{% else %}
  {%- assign list = site.emptyArray | push: nil -%}
</div><template id="template-book">
{% endif %}
{%- for item in list -%}
{% if include.list %}<a href="{{ item.link }}">{% endif %}
<div class="row">
  <div class="libros-image-container pr-0{% if item.image_url %} col-2{% endif %}">{% if item.image_url %}
    <img src="{{ item.image_url }}" alt="{{ item.title }}">{% endif %}</div>
  <div class="col">
    <div class="libros-header">
      <h5 class="libros-title">{{ item.title }}</h5>
      <small class="libros-year">{{ item.year }}</small>
    </div>
    <p class="libros-author">{{ item.author }}</p>
    <small class="libros-publisher">{{ item.publisher }}</small>
    {% if item.start_reading %}
      {%- if item.end_reading -%}
        {%- assign sensibility = 0.9 -%}
        {%- assign year = item.start_reading | date: "%Y" -%}
        {%- assign year_start = year | prepend: "01-01-" | date: "%s" | divided_by: sensibility -%}
        {%- assign year_end = year | prepend: "31-12-" | date: "%s" | divided_by: sensibility -%}
        {%- assign start_unix = item.start_reading | date: "%s" | divided_by: sensibility -%}
        {%- assign end_unix = item.end_reading | date: "%s" | divided_by: sensibility -%}
        {%- assign reading_time = end_unix | minus: start_unix | plus: year_start -%}
        {%- include simulibros/progress.html min=year_start max=year_end now=reading_time offset=start_unix -%}
        <small data-toggle="tooltip" data-placement="top" title="{{ item.start_reading }} to {{ end_reading }}">Readed in {{ reading_time | minus: year_start | divided_by: 86400.0 | round }} days</small>
      {%- else -%}
      <span class="badge badge-primary">Reading</span><small> since {{ item.start_reading | date: "%-d %b %Y" }}</small>
      {%- endif -%}
    {% endif %}
  </div>
</div>
{% if include.list %}</a>{% endif %}
{%- endfor -%}
{%- if include.list -%}</div>{% else %}</template>{%- endif -%}
