{%- include page/init.html -%}
<!DOCTYPE html>
<title>{{ page.title }}</title>

<!-- Meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta
	data-repo-sha="{{ site.github.build_revision }}"
	data-repo-nwo="{{ site.github.repository_nwo }}"
	data-repo-url="{{ site.github.repository_url }}"
	data-page-path="{{ page.path }}">
<link rel="canonical" href="{{ page.url | absolute_url }}" />
<link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | absolute_url }}" />

<!-- Css CDN -->
{%- for asset in site.assets -%}
{% if asset.css %}
<link rel="stylesheet" href="{{ asset.css }}" />
{%- endif -%}
{% endfor %}

<!-- CSS -->
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">

<!-- Javascripts CDN -->
{%- for asset in site.assets -%}
{% if asset.js %}
<script src="{{ asset.js }}"></script>
{%- endif -%}
{% endfor %}

<!-- Base 64 -->
<script src="{{ site.baseurl }}/assets/js/base64.min.js"></script>

<!-- script.js is deferred -->
<script src="{{ site.baseurl }}/assets/js/script.js" defer></script>

<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-dark bg-primary">
	<div class="container">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				{% for nav in site.data.navbar.left %}{% assign link = site.pages | where:'title', nav %}
				<li class="nav-item{% if page.url == link[0].url %} active{% endif %}">
					<a class="nav-link" href="{{ site.baseurl }}{{ link[0].url | default: '#' }}"{% if link.size == 0 %} id="{{ nav | slugify }}"{% endif %}>{{ nav }}{% if page.url == link[0].url %} <span class="sr-only">(current)</span>{% endif %}</a>
				</li>
				{% endfor %}
			</ul>
			<ul class="navbar-nav my-lg-0">
				{% for nav in site.data.navbar.right %}{% assign link = site.pages | where:'title', nav %}
				<li class="nav-item{% if page.url == link[0].url %} active{% endif %}">
					<a class="nav-link" href="{{ site.baseurl }}{{ link[0].url | default: '#' }}"{% if link.size == 0 %} id="{{ nav | slugify }}"{% endif %}>{{ nav }}{% if page.url == link[0].url %} <span class="sr-only">(current)</span>{% endif %}</a>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</nav>

<!-- Main -->
<main class="container">
{{ content }}
</main>

<!-- Footer -->
<footer>
	<div class="container">
		<ul class="list-inline">
			<li class="list-inline-item">
				<a href="{{ site.github.repository_url }}">GitHub</a>
			</li>
			<li class="list-inline-item">
				<a href="#top">Top</a>
			</li>
			<li class="list-inline.item float-right">Build version: <code>{{ site.github.build_revision | slice: 0, 7 }}</code> <span class="badge badge-success mb-2" id="build_badge">UPDATED</span></li>
		</ul>
	</div>
</footer>

{% include login.html %}
{% include page/modal.html %}
